<div class="product-list__container content__wrapper">
  <h3 class="zigcy__title">{{this.productlist.title}}</h3>
  <h2 class="zigcy__subtitle">{{this.productlist.subtitle}}</h2>
  <div class="products__container">
    {{#each this.productlist.products}}
    <div class="product__wrapper">
      <div>
        <a href="">
          <img src="{{this.imageURL}}" alt="{{this.title}}" class="product__image">
        </a>
        {{#if this.salePrice}}
        <span class="sale__badge">Sale!</span>
        {{/if}}
        <p class="product__title">{{this.title}}</p>
        <p class="product__price">{{this.price}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>